* {
    margin: 0;
    padding: 0;
}


body {
    background: ghostwhite;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Inconsolata', monospace;
}

#grad {
    background-color: #111;
    font-family: Audiowide;
    margin: 0;
    padding-top: 25px;
    text-align: center;
    height: 5 em;
    font-size: 8em;
  }
  span {
    animation: glow 2s ease-in-out both infinite;
 }
  span:nth-child(1) {
    animation-delay: -0.2857142857s;
 }
  span:nth-child(2) {
    animation-delay: -0.5714285714s;
 }
  span:nth-child(3) {
    animation-delay: -0.8571428571s;
 }
  span:nth-child(4) {
    animation-delay: -1.1428571429s;
 }
  span:nth-child(5) {
    animation-delay: -1.4285714286s;
 }

  @keyframes glow {
    0%, 100% {
      text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px tomato, -25px 25px 50px yellow, 25px 25px 50px tomato;
   }
    33% {
      text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px cyan, -25px 25px 50px tomato, 25px 25px 50px cyan;
   }
    66% {
      text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px yellow, -25px 25px 50px cyan, 25px 25px 50px yellow;
   }
 }
 .container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.level-header {
  padding: 2rem 0;
}

.level-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.level-header__title,
.level-header__score {
  /* width: 40%; */
}

.level-header h2,
.level-header h4 {
  display: inline;
}
a{
  text-decoration: none;
  color: #111;
}
section{
    margin: opx;
}
  .board {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 0;
    width: 205px;
    margin: 500px auto;
    padding-right: 0;
    padding-left: 0;
}
.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
    text-align: center;
    
}

#top-left{
    background-color: crimson;

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

#top-left:hover{
    background-color: crimson;
    opacity: .5;
}


#top-right{
    background-color: yellow;
}

#top-right:hover{
    opacity: .5;
}

#bottom-left{
    background-color: blue;
}

#bottom-left:hover{
    opacity: .5;
}

#bottom-right{
    background-color: darkgreen;
}

#bottom-right:hover{
    opacity: .5;
}

.controls{
    background: silver;
    height: 200px;
    width: 600px;
    margin: -475px auto;
    text-align: center;
}
/* Customize the label (the container) */
.container1 .container2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    text-align: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container1 .container2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom radio button
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: red;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  /* .container1:hover .container2:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container1 .container2 input:checked  .checkmark {
    background-color: black;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  } */
  
  /* Show the indicator (dot/circle) when checked */
  /* .container1 .container2 input:checked  .checkmark:after {
    display: block;
  }
   */
  /* Style the indicator (dot/circle) */
  /* .container1 .container2 .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: crimson;
  /* } */ 
