* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #111;
    margin: 0 0;
    padding: 0 0;
    height: 100%;
    font-family: 'Inconsolata', monospace;
}

#grad {
    background-color: #111;
    font-family: Audiowide;
    margin: 0;
    padding-top: 25px;
    text-align: center;
    font-size: 8em;
  }
  span {
    animation: glow 2s ease-in-out both infinite;
 }
  span:nth-child(1) {
    animation-delay: -0.2857142857s;
 }
  span:nth-child(2) {
    animation-delay: -0.5714285714s;
 }
  span:nth-child(3) {
    animation-delay: -0.8571428571s;
 }
  span:nth-child(4) {
    animation-delay: -1.1428571429s;
 }
  span:nth-child(5) {
    animation-delay: -1.4285714286s;
 }

  @keyframes glow {
    0%, 100% {
      text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px tomato, -25px 25px 50px yellow, 25px 25px 50px tomato;
   }
    33% {
      text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px cyan, -25px 25px 50px tomato, 25px 25px 50px cyan;
   }
    66% {
      text-shadow: 0 0 8.3333333333px snow, 0 -25px 50px yellow, -25px 25px 50px cyan, 25px 25px 50px yellow;
   }
 }
 .container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

.level-header {
  padding: 2rem 0;
  color: ghostwhite;
}

.level-header .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}



h2.score.js-score {
  color: red;
  padding: 5px;
  margin: 5px;
  font-size: 2em;
}
h2.title{
  font-family: 'Press Start 2P', cursive;
}

.level-header h2,
.level-header h4 {
  display: inline;
}
a{
  text-decoration: none;
  color: #111;
}
section{
  display: flex;
  flex-direction: column;
  justify-content: center;
    margin: 0;
    text-align: center;
    align-items: center;
    min-height: 80vh;
}
  .board {
  display: flex;
  flex-wrap: wrap;
  background-color:  #111;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
  flex-direction: row;
  min-height: 40vh;
  flex-basis: 50%;

}
.cell {
  background-color: #f1f1f1;
  width: 100px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;  
}

#red{
    background-color: crimson;
    width: 300px;
    height: 200px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px red;
}

#red:hover{
    background-color: crimson;
    
    opacity: .5;
}


#yellow{
    background-color: yellow;
    border-radius: 12px;
    width: 300px;
    height: 200px;
}

#yellow:hover{
    opacity: .5;
}

#blue{
    background-color: blue;
    border-radius: 12px;
    width: 300px;
    height: 200px;
  }



#blue:hover{
    opacity: .5;
}

#green{
    background-color: darkgreen;
    width: 300px;
    height: 200px;
    border-radius: 12px;
  }


#green:hover{
    opacity: .8;
}

h1 {
  font-family: 'Odibee Sans', cursive;
  font-size: 4em;
}
.controls{
  height: 25vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 25px;
  align-items: center;
  color: whitesmoke;
  background: #348F50;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.cntrlbtns{
  display: flex;
  height: 10vh;
  width: 50vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.toggle {
  position: relative;
}

.toggle1 input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle2 input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle1 .onoff {
  color: #fff;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
}
.toggle2 .startstop {
  color: #fff;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  text-align: center;
}

.slider {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #333;
  transition: 0.4s;
  width: 3em;
  height: 3em;
}

.slider:before {
  content: "";
  position: absolute;
  height: 2em;
  width: 2em;
  background-color: #fff;
  transition: 0.4s;
  top: 6px;
  left: 6px;
}

input:checked + .slider {
  background-color: #fd5d00;
  box-shadow: 0 0 12px #fd5d00;
}

input:checked + .slider:before {
  transform: translateX(80px);
}

.slider.round {
  width:190%
}

  .buttons {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(19, 17, 17);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    opacity: 100%;
}
.buttons:before {
    content: '';
    background: linear-gradient(45deg, #FF0000, #FF7300, #FFFB00, #48FF00, #00FFD5, #002BFF, #7A00FF, #FF00C8, #FF0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 20%;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}
.buttons:active {
    color: white
}
.buttons:active:after {
    background: transparent;
    color: red;
}
.buttons:hover:before {
    opacity: 100%;
    color: red;
}
.buttons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

footer{
  color: whitesmoke;
  background-color: #111;
    font-family: Audiowide;
    margin: 0;
    padding-top: 25px;
    text-align: center;
    height: 1em;
    font-size: 2em;
}
P{
  color: whitesmoke;
}
/* .button{
	/* display: inline-block;
	position: absolute; */
	/* overflow: hidden;
	left: 40%;
	top: 40%;
  width: 200px;
	perspective:400px;
	background-color: transparent;
  
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.3))); */
/*   
} */
/* .button span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
  transform-style:preserve-3d;
	background-color: black;
	color: white;
  width: 100%;

}
.button span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	background-color: white;
	color: black;
  width: 100%;
}

.button:hover span{
	transform:translate3d(0px,0px,-30px) rotateX(90deg);
} */ 

