* {
    margin: 0;
    padding: 0;
}


body {
    background: ghostwhite;
    margin: 0 0;
    padding: 0 0;
}
#grad {
    background-image: linear-gradient(180deg, red, yellow);
    font-family: Metal Mania;
    margin: 0;
    padding-top: 25px;
    text-align: center;
    height: 5 em;
    font-size: 5em;
  }